INSTALL_STATUS=new
LAST_COMPLETED_STEP=
CURRENT_STEP=

STEP_USERS_DONE=no
STEP_SHELLS_DONE=no
STEP_PACKAGES_DONE=no
STEP_EDITOR_DONE=no
STEP_SSH_DONE=no
STEP_SSHD_DONE=no
STEP_PRIVILEGE_DONE=no
STEP_SERVICES_DONE=no
STEP_EXTRAS_DONE=no

COLOR_OUTPUT=auto
OUTPUT_MODE=normal
INTERACTIVE_MODE=yes

ROOT_ONLY=no
CONFIGURE_ROOT=yes
PRIMARY_USER=rabbit
PRIMARY_HOME=/home/user

RUN_SHELLY=yes
INSTALL_SHELLS=
USER_DEFAULT_SHELL=
ROOT_DEFAULT_SHELL=
CONFIGURED_SHELLS=

PACKAGE_MODE=recommended
PACKAGE_PROFILE=recommended
SELECTED_PACKAGE_CATEGORIES=core,network,ssh,editors
SELECTED_PACKAGES=
EXCLUDED_PACKAGES=

EDITOR_SETUP_MODE=recommended
EDITOR_CHOICE=vim
EDITOR_PROFILE=recommended
INSTALL_EDITOR_CONFIG=yes
INSTALL_EDITOR_PLUGINS=no

INSTALL_SSH_CLIENT=yes
INSTALL_SSHD=yes
SSHD_PROFILE=recommended
SSHD_PORT=2222
SSHD_ALLOW_ROOT=no
SSHD_PASSWORD_AUTH=yes
SSHD_GATEWAY_PORTS=no
SSHD_HOTSPOT_BYPASS=no
SSHD_ENABLE_AT_BOOT=yes
SSHD_START_NOW=yes
SSH_RELAXED=0

INSTALL_SUDO=yes
INSTALL_DOAS=yes

ENABLED_SERVICES=sshd
START_NOW_SERVICES=sshd

INSTALL_MANPAGES=yes
INSTALL_COMPLETIONS=yes
INSTALL_DOC_WRAPPER=no
INSTALL_COMPLETION_WRAPPER=no
INSTALL_ALIASES=yes
