
INSTALL_STATUS=new
LAST_COMPLETED_STEP=
CURRENT_STEP=

STEP_USERS_DONE=no
STEP_SHELLS_DONE=no
STEP_PACKAGES_DONE=no
STEP_EDITOR_DONE=no
STEP_SSH_DONE=no
STEP_SSHD_DONE=no
STEP_PRIVILEGE_DONE=no
STEP_SERVICES_DONE=no
STEP_EXTRAS_DONE=no

COLOR_OUTPUT=auto
OUTPUT_MODE=normal
INTERACTIVE_MODE=yes

ROOT_ONLY=no
CONFIGURE_ROOT=yes
PRIMARY_USER=user
PRIMARY_HOME=/home/user

RUN_SHELLY=yes
INSTALL_SHELLS=
USER_DEFAULT_SHELL=
ROOT_DEFAULT_SHELL=

PACKAGE_MODE=recommended
SELECTED_PACKAGE_CATEGORIES=core,network,ssh,editors
SELECTED_PACKAGES=

EDITOR_CHOICE=vim

INSTALL_SSH_CLIENT=yes
INSTALL_SSHD=yes

INSTALL_SUDO=yes
INSTALL_DOAS=yes

INSTALL_MANPAGES=yes
INSTALL_COMPLETIONS=yes
INSTALL_ALIASES=yes
